<template>
<div class="col-md-4">
    <div class="card mb-4 shadow-sm">
    
    <img :src="'/img/' + image" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">{{title}}</h5>
        <p class="card-text">
            {{desc}}
        </p>
        <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
        </div>
        <small class="text-muted">{{minutes}} mins</small>
        </div>
    </div>
    </div>
</div>
</template>

<script lang="ts">
import Vue from 'vue';
export default Vue.extend({
    props: ['image', 'minutes', 'title', 'desc'],
});
</script>