<template>
<header>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container d-flex justify-content-between">
      <a href="#" class="navbar-brand d-flex align-items-center">
        <img src="../assets/logo.png"/>
        &nbsp;
        <strong>PiperNet</strong>
      </a>
    </div>
  </div>
</header>
</template>

<script lang="ts">
import Vue from 'vue';
export default Vue.extend({

});
</script>