<template>
  <div id="app">
    <app-header/>
    <main role="main">
    <section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">
          The Internet We<br/>
          <strong>Deserve</strong>™️
        </h1>
        <p class="lead text-muted">
          PiperNet is powered by your devices, protective of your privacy, and programmed for your freedom.
        </p>
        <p>
          <a href="#" class="btn btn-primary my-2">Sign up</a>
          &nbsp;&nbsp;
          <a href="#" class="btn btn-secondary my-2">Sign in</a>
        </p>
      </div>
    </section>
    <div class="album py-5">
    <div class="container">

      <div class="row">
        <album
          image="developers_mac.png"
          minutes="2"
          title="Gates of Galloo"
          desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
        />
        <album
          image="nothotdog.jpg"
          minutes="7"
          title="Hot Dog / Not Hot Dog"
          desc="Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
        />
        <album
          image="developers_humbrum.png"
          minutes="30"
          title="Humdrum"
          desc="Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur."
        />
      </div>
    </div>
  </div>

  </main>
</div>
</template>

<script lang="ts">
import Vue from 'vue';

import Header from '@/components/Header.vue';
import Album from '@/components/Album.vue';

export default Vue.extend({
  components: {
    'app-header': Header,
    Album,
  },
});
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
</style>
